@page "/transactions"
@using LunchSplitter.Domain.Entity
@using LunchSplitter.Services
@attribute [StreamRendering]
@attribute [Authorize]
@inject TransactionService transactionService

<PageTitle>Transactions</PageTitle>

<h3>Last 25 transactions</h3>

@if (transactions == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="accordion" id="accordion">

        @foreach (var tx in transactions)
        {
            // check if tx if the first
            @if (tx.Id == transactions.First().Id)
            {
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-@tx.Id">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@tx.Id" aria-expanded="true" aria-controls="collapse-@tx.Id">
                            <div>
                                <strong>@tx.User.Name</strong> paid €@tx.Amount <br/>
                                Details: @tx.Description <br/>
                                @GetDutchDate(tx.Date) (@GetDaysAgo(tx.Date))
                            </div>
                        </button>
                    </h2>
                    <div id="collapse-@tx.Id" class="accordion-collapse collapse show" aria-labelledby="heading-@tx.Id" data-bs-parent="#accordion">
                        <div class="accordion-body">
                            <strong>
                                Shared with:
                            </strong>
                            <br/>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Amount</th>
                                    <th>Percentage</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var shared in @transactionService.GetTransactionShares(tx.Id))
                                {
                                    <tr>
                                        <td>@shared.UserName</td>
                                        <td>@shared.Amount</td>
                                        <td>@calculatePercentage(tx.Amount, shared.Amount)%</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-@tx.Id">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@tx.Id" aria-expanded="false" aria-controls="collapse-@tx.Id">
                            <div>
                                <strong>@tx.User.Name</strong> paid €@tx.Amount <br/>
                                Details: @tx.Description <br/>
                                @GetDutchDate(tx.Date) (@GetDaysAgo(tx.Date))
                            </div>
                        </button>
                    </h2>
                    <div id="collapse-@tx.Id" class="accordion-collapse collapse" aria-labelledby="heading-@tx.Id" data-bs-parent="#accordion">
                        <div class="accordion-body">
                            <strong>
                                Date: @GetDutchDate(tx.Date) <br/>
                                Shared with:
                            </strong>
                            <br/>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Amount</th>
                                    <th>Percentage</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var shared in @transactionService.GetTransactionShares(tx.Id))
                                {
                                    <tr>
                                        <td>@shared.UserName</td>
                                        <td>@shared.Amount</td>
                                        <td>@calculatePercentage(tx.Amount, shared.Amount)%</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
}

@code {
    [Parameter] public int GroupId { get; set; }

    [Parameter] public bool IsGroupAdmin { get; set; }

    private List<Transaction>? transactions;
    private bool isPopupVisible = false;

    protected override async Task OnInitializedAsync()
    {
        transactions = await transactionService.GetTransactions(GroupId);
    }

    private void DeleteTransaction(int transactionId)
    {
        transactionService.DeleteTransaction(transactionId);
        transactions = transactions.Where(tx => tx.Id != transactionId).ToList();
    }

    private decimal calculatePercentage(decimal total, decimal shared)
    {
        return Math.Round((shared / total) * 100, 2);
    }

    private string GetDutchDate(DateTime date)
    {
        return date.ToString("dddd d MMMM yyyy");
    }
    
    private string GetDaysAgo(DateTime date)
    {
        var daysAgo = DateTime.Now - date;
        return daysAgo.Days switch
        {
            0 => "Today",
            1 => "Yesterday",
            _ => $"{daysAgo.Days} days ago"
        };
    }

}